body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #495057;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 1em;
    text-align: center;
    border-bottom: 2px solid #fff;
}


nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #0056b3;
}

section {
    margin: 20px;
}

form {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

.blog-post {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Hover effect for the blog post preview */
.blog-post:hover {
    background-color: #f0f0f0;
}


.about-page {
    background-color: #f4f4f4;
    color: #333;
}

.about-section {
    padding: 50px;
    text-align: center;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
}

h1 a {
    color: #007BFF; /* Ensure that the color is set to blue */
    text-decoration: none; /* Remove underline if needed */
}

h2, h3 {
    color: #007BFF;
}

p {
    line-height: 1.6;
}

footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 1em;
    border-top: 2px solid #007bff;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    header {
        padding: 0.5em;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    article {
        padding: 10px;
    }
}